/* styles.css */
body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('./img/back.svg');
  background-position: center center; /* Centra l'immagine di sfondo */
  background-repeat: no-repeat;      /* Impedisce la ripetizione dell'immagine */
  background-size: cover;            /* Fa in modo che l'immagine copra tutto il viewport */
}


.game-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 420px;
  height: 420px;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.score {
  font-size: 24px;
  margin-bottom: 10px;
}

.gameButton {
  padding: 10px 20px;
  border: none;
  background-color: #4CAF50; /* colore di sfondo verde */
  color: white; /* testo bianco */
  font-size: 16px;
  border-radius: 4px; /* bordi arrotondati */
  cursor: pointer; /* puntatore a mano al passaggio del mouse */
  transition: background-color 0.3s, transform 0.2s; /* transizione animata per l'hover e il click */
}

.gameButton:hover {
  background-color: #45a049; /* colore di sfondo un po' più scuro all'hover */
}

.gameButton:active {
  transform: scale(0.95); /* restringe leggermente il pulsante quando viene premuto */
}
